<div class="ui grid">
  {{#each (chunk perRow primary) as |row index|}}
    <div class="row">
      {{#each row as |category index|}}
        <div class="four wide column {{if (eq selectedCategory category.value) 'green'}}">
          <div class="ui link card" onclick={{action 'selectCategory' category.value}}>
            <div class="image">
              <img src="http://lorempixel.com/400/200/city?catName={{category.value}}">
            </div>
            <div class="content">
              <div class="header">{{category.value}}</div>
              <div class="meta">
                {{category.items.length}} datasets
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="row" style={{if (eq index selectedPositionRow) 'background-color: #21BA45;' }}>
      {{#liquid-if (and (eq index selectedPositionRow) selectedCategory)}}
        <div class="column" style='background-color: #21BA45;'>
          <div class="ui padded grid">
            {{#each-in (group-by 'menu2' selectedItems.items) as |category values|}}
              <div class="four wide column">
                <div class="ui fluid link green card">
                  <div class="content">
                    <div class="header">{{category}}</div>
                    <div class="meta">
                      <span class="category">{{selectedCategory}}</span>
                    </div>
                  </div>
                </div>
              </div>
            {{/each-in}}
          </div>
        </div>
      {{/liquid-if}}
    </div>
  {{/each}}
{{!--   {{#each-in (group-by 'menu1' model) as |category values|}}
    <div class="five wide column" style="min-height: 200px;">
      <div class="ui link card" onclick={{action 'selectCategory' category}}>
        <div class="image">
          <img src="https://unsplash.it/300/200/?random&catName={{category}}">
        </div>
        <div class="content">
          <div class="header">{{category}}</div>
          <div class="meta">
            {{values.length}} datasets
          </div>
        </div>
      </div>
    </div>
    {{#if (eq selectedCategory category)}}
      <div class="row">
        <h1>{{category}}</h1>
      </div>
    {{/if}}
  {{/each-in}} --}}
  {{!--   {{#each-in (group-by 'menu2' values) as |category values|}}
      <h2>{{category}}</h2>
      {{#each-in (group-by 'menu3' values) as |category values|}}
        <h3>{{category}}</h3>
      {{/each-in}}
    {{/each-in}} --}}
  
</div>
