<div class="main-content-offset">
  <div class="ui grid">
    <div class="ui basic segment">
      {{link-to '← SEE ALL' 'application'}} | {{join ' | ' model.dataset.tagsValues}}
    </div>
    <div style="position: fixed; bottom: 30px; right: 50px; z-index: 999;">
      {{#ui-popup content="Download CSV" position='left center'}}
        <a class="medium ui circular raised segment circular ui green icon button floating-menu" href={{download_link}} download={{model.dataset.table_name}}>
          <i class="big file excel outline icon"></i>
        </a>
      {{/ui-popup}}
    </div>

    <div class="ui basic main-table segment">
      <div class="ui container">
        <div class="ui clearing basic segment">
          <h2 class="ui left floated header" style="max-width: 80%;">
            <div class="content">
              <h3 class="ui dividing header tags-header">{{model.dataset.menu3}}</h3>
              <div class="sub header">
                <b>Table</b>: {{model.dataset.table_name}}<br/>
                <b>Source</b>: {{model.dataset.source}}<br/>
                <b>Description</b>: {{model.dataset.description}}
              </div>
            </div>
          </h2>
        </div>

        <div class="scroll-horizontal-rotated ui basic center aligned segment">
          <div class="cancel-rotate">
            {{#if (not model.raw_data.errors)}}
              {{ui-table 
                model=(slice min max model.raw_data.rows) 
                fields=model.raw_data.fields 
                metadata=model.metadata.rows}}
            {{else}}
              {{#each model.raw_data.errors as |error|}}
                <h3 class="ui icon header">
                  <i class="warning sign icon"></i>
                  <div class="content">
                    Oops. {{error.title}}.
                    <div class="sub header">
                      More detail: 
                      {{#each error.detail.error as |errorMessage|}}
                        {{errorMessage}}; we probably just need to sync and/or update permissions for this dataset.<br/><br/> We've been notified of the error and will work on it.
                      {{/each}}
                    </div>
                  </div>
                </h3>
              {{/each}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
